body {
	animation-name: fade;
	animation-duration: 2s;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 {
	font-family: 'Baloo Da 2';
}

span {
	font-family: 'Baloo Da 2', cursive;
	font-weight: 600;
}

p {
	font-family: 'Baloo Da 2', cursive;
}

a {
	color: lightgrey;
}

.link {
	color: lightblue;
}

.link:hover {
	color: darkblue;
}

a:hover {
	color: darkblue;
}

.bulb:hover {
	cursor: pointer;
	color: darkgrey;
}


@keyframes swing {
	0% { 
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg); 
	}
	50% { 
		-webkit-transform: rotate(65deg);
		-moz-transform: rotate(65deg);
		-ms-transform: rotate(65deg);
		transform: rotate(65deg); 
	}
	100% { 
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg); 
	}
}

.swing {
	animation-name: swing;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.dark-mode {
	color: #fff;
	background: #1E1F21;
}

.inline {
	display: inline-block;
}

.hidden-link {
	color: black;
}

.email-field {
	height: 2.55rem;
	width: 100%;
	border-radius: 0.2rem;
	border-style: solid;
	border-width: 0.08rem;
	border-color: black;
	border-right-style: none;
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
	box-shadow: 0;
}

.date-font {
	color: darkgray;
	font-size: 0.8rem;
}

.blog-title {
	color: black;
}

.blog-para {
	color: black;
}

.img-max-height {
	max-height: 22rem;
}

.fade-up-and-in-animation {
	animation: upAndFadeInAnimation ease-out 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes upAndFadeInAnimation {
	0% {
		opacity: 0;
		margin-top: 30px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}

.memoji {
	background-image: url("../public/memoji-sticker.png");
	background-repeat: no-repeat;
	background-size: 10rem;
	width: 10rem;
	height: 10rem;
}

.space {
	background-image: url('../public/bg.svg');
	width: 20rem;
	height: 20rem;
}

.illustration {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	overflow:hidden;
	pointer-events:none;
	transform-origin: 100% 50%;
}

.illustration .center {
	position:absolute;
	top: 90%;
	right: 0%;
}

.illustration .circle {
	position:absolute;
	top:0;
	left:0;
	border-radius:999px;
	border:1px solid #000;
}

.illustration .circle.index-1 {
	width: 100px;
	height: 100px;
	margin-top:-230px;
	margin-left:-50px;
}
.illustration .circle.index-2 {
	width: 200px;
	height: 200px;
	margin-top:-280px;
	margin-left:-100px
}

.illustration .circle.index-3 {
	width: 300px;
	height: 300px;
	margin-top:-330px;
	margin-left:-150px
}

.illustration .circle.index-4 {
	width:400px;
	height:400px;
	margin-top:-380px;
	margin-left:-200px
}

.illustration .circle.index-5 {
	width:500px;
	height:500px;
	margin-top:-430px;
	margin-left:-250px;
}

.illustration .disc {
	position:absolute;
	top: -175px;
	left:0;
	animation: disc-rotation 2s infinite linear;
	will-change:transform
}

.illustration .disc .inner {
	position:absolute;
	top:0;
	border-radius:999px;
	background: white;
}

.illustration .disc.index-1 {
	animation-duration:6.1s
}

.illustration .disc.index-1 .inner {
	top:-50px;
	width:30px;
	height:30px;
	margin-top:-5px;
	margin-left:-5px;
}

.illustration .disc.index-1 .inner:before {
	content: "\f8e1";
	font-family: FontAwesome;
 	font-size: 2rem;
 	position: relative;
 	top: -15px;
 	color: coral;
}

.illustration .disc.index-2 {
	animation-duration:11.2s
}

.illustration .disc.index-2 .inner {
	top:-100px;
	width:35px;
	height:30px;
	margin-top:-10px;
	margin-left:-10px;
}

.illustration .disc.index-2 .inner:before {
	content: "\f3d3";
	font-family: FontAwesome;
 	font-size: 2.5rem;
 	position: relative;
 	top: -15px;
 	color: lightgreen;
}

.illustration .disc.index-3 {
	animation-duration: 16.3s
}

.illustration .disc.index-3 .inner {
	top: -150px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	background: rgb(226,6,238);
	background: linear-gradient(0deg, rgba(226,6,238,1) 0%, rgba(103,83,251,1) 100%);
}

.illustration .disc.index-4 {
	animation-duration:21.4s
}
.illustration .disc.index-4 .inner {
	top:-200px;
	width:34px;
	height:40px;
	margin-top:-20px;
	margin-left:-20px;
}

.illustration .disc.index-4 .inner:before {
	content: "\f841";
	font-family: FontAwesome;
 	font-size: 2.7rem;
 	position: relative;
 	top: -10px;
 	color: lightblue;
}

.illustration .disc.index-5 {
	animation-duration:26.5s
}
.illustration .disc.index-5 .inner {
	top:-250px;
	width:50px;
	height:50px;
	margin-top:-25px;
	margin-left:-25px;
}

.illustration .disc.index-5 .inner:before {
	content: "\f3e2";
	font-family: FontAwesome;
 	font-size: 3.5rem;
 	position: relative;
 	top: -15px;
 	color: #e2e938;
}

@keyframes disc-rotation {
	0% {
		-webkit-transform: rotate(14deg);
		-moz-transform: rotate(14deg);
		-ms-transform: rotate(14deg);
		transform: rotate(14deg);
	}

	100% {
		-webkit-transform: rotate(380deg);
		-moz-transform: rotate(380deg);
		-ms-transform: rotate(380deg);
		transform: rotate(380deg);
	}
}

.dark-mode {
	color: #fff;
	background: #1E1F21;
}

.bd-footer {
	text-align: left;
	position: absolute;
	bottom: 0;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.illustration .circle.index-4 {
		display: none;
	}

	.illustration .circle.index-5 {
		display: none;
	}

	.illustration .disc.index-4 .inner {
		display: none;
	}

	.illustration .disc.index-4 .inner:before {
		display: none;
	}

	.illustration .disc.index-5 .inner {
		display: none;
	}

	.illustration .disc.index-5 .inner:before {
		display: none;
	}
}