body {
	animation-name: fade;
	animation-duration: 2s;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 {
	font-family: 'Baloo Da 2';
}

span {
	font-family: 'Baloo Da 2', cursive;
	font-weight: 600;
}

p {
	font-family: 'Baloo Da 2', cursive;
}

a {
	color: lightgrey;
}

.link {
	color: lightblue;
}

.link:hover {
	color: darkblue;
}

a:hover {
	color: darkblue;
}

.bulb:hover {
	cursor: pointer;
	color: darkgrey;
}


@keyframes swing {
	0% { 
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg); 
	}
	50% { 
		-webkit-transform: rotate(65deg);
		-moz-transform: rotate(65deg);
		-ms-transform: rotate(65deg);
		transform: rotate(65deg); 
	}
	100% { 
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg); 
	}
}

.swing {
	animation-name: swing;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.dark-mode {
	color: #fff;
	background: #1E1F21;
}

.inline {
	display: inline-block;
}

.hidden-link {
	color: black;
}

.email-field {
	height: 2.55rem;
	width: 100%;
	border-radius: 0.2rem;
	border-style: solid;
	border-width: 0.08rem;
	border-color: black;
	border-right-style: none;
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
	box-shadow: 0;
}

.date-font {
	color: darkgray;
	font-size: 0.8rem;
}

.blog-title {
	color: black;
}

.blog-para {
	color: black;
}

.img-max-height {
	max-height: 22rem;
}

.fade-up-and-in-animation {
	animation: upAndFadeInAnimation ease-out 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.bg {
	height: 7rem;
	width: 100vw;
	background-image: url("../public/popcorn.png");
	background-repeat: repeat;
	background-position: left;
	background-size: contain;
}

@keyframes upAndFadeInAnimation {
	0% {
		opacity: 0;
		margin-top: 30px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}

.illustration {
	width: 100%;
	overflow: hidden;
	pointer-events: none;
	transform-origin: 50% 100%;
	background: yellow;
}

.center {
	position: absolute;
	top: 50%;
	bottom: -20%;
	right: 50%;
}

.circle {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 999px;
	border: 1px solid #000;
}

.circle.index-1 {
	width: 250px;
	height: 250px;
	margin-top: -125px;
	margin-left: -125px;
}


.disc.index-1 {
	animation-duration: 6.1s;
}

.circle.index-2 {
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
}

.disc.index-2 {
	animation-duration: 11.2s;
}

.circle.index-3 {
	width: 550px;
	height: 550px;
	margin-top: -275px;
	margin-left: -275px;
}

.disc.index-3 {
	animation-duration: 16.3s;
}

.circle.index-4 {
	width: 700px;
	height: 700px;
	margin-top: -350px;
	margin-left: -350px;
}

.disc.index-4 {
	animation-duration: 21.4s;
}

.circle.index-5 {
	width: 850px;
	height: 850px;
	margin-top: -425px;
	margin-left: -425px;
}

.disc.index-5 {
	animation-duration: 26.5s;
}

.disc {
	position: absolute;
	top: 0;
	left: 0;
	animation: get-started-disc-rotation 2s infinite linear;
}

.inner {
	top: -425px;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	margin-left: -25px;
}

@keyframes get-started-disc-rotation {
	0% {
		-webkit-transform: rotate(140deg);
		-moz-transform: rotate(140deg);
		-ms-transform: rotate(140deg);
		transform: rotate(140deg);
	}

	100% {
		-webkit-transform: rotate(380deg);
		-moz-transform: rotate(380deg);
		-ms-transform: rotate(380deg);
		transform: rotate(380deg);
	}
}